################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InvertPhrase/.vs/InvertPhrase/DesignTimeBuild
/obj
/bin/Debug/net6.0
